# dependencies
/node_modules
frontend/node_modules
backend/node_modules

# next.js
frontend/.next/
frontend/out/

# database (keep schema, ignore data)
backend/data/*.sqlite

# env
.env
backend/.env

# misc
.DS_Store
*.pem
npm-debug.log*
next-env.d.ts
